<html>
    <head>
        <meta charset="UTF-8">
        <title>Login | Spexflix</title>
        <link rel="stylesheet" href="/static/page.css">
    </head>
    <body>
        <h1>Välkommen!</h1>
        <p>
            Logga in här:
        </p>
        <form method="post" action="/login">
            <label for="name">User name</label>
            <input type="text" id="name" name="name">
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
            <button type="submit">Login</button>
        </form>
    </body>
</html>