<html>
    <head>
        <meta charset="UTF-8">
        <title>Hem | Spexflix</title>
    </head>
    <body>
        <h1>Välkommen {{.Username}}!</h1>
        <p>
            {{.Content}}
        </p>
    </body>
</html>